.fading-images-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.fading-image {
  position: fixed;
  width: 6vw; /* Scales with viewport width */
  height: 6vw; /* Maintains a square shape and scales proportionally */
  animation: fadeInOut 10s linear infinite;
  transition: transform 3s ease-in-out;
  z-index: -2;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Optional media query for smaller screens */
@media (max-width: 768px) {
  .fading-image {
    width: 8vw; /* Slightly larger on smaller screens */
    height: 8vw;
  }
}
