.app-background {
  background-image: url('../../public/fibonnaciBackground.gif'); /* Use an absolute path */
  background-size: cover; /* Ensures the GIF covers the entire area */
  background-repeat: no-repeat; /* Prevents the GIF from repeating */
  background-attachment: fixed; /* Keeps the background fixed during scrolling */
  min-height: 100vh; 
  width: 100%;
}
