.container-firstpage {
  background-image: url('../../public/firstFibbonaci.gif'); /* Use an absolute path */
  background-size: cover; /* Ensures the GIF covers the entire area */
  background-repeat: no-repeat; /* Prevents the GIF from repeating */
  background-attachment: fixed; /* Keeps the background fixed during scrolling */
  background-position: center; /* Ensures the center of the GIF is in the middle */
  min-height: 100vh; 
  width: 100%;
}

.content-overlay {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); /* Center the content */
  color: white; /* Make the text readable on the video */
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1.welcome-writer {
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 15px 30px; 
  border-radius: 5px; 
  display: inline-block; 
  font-size: 36px;
  margin-bottom: 20px;
  transition: opacity 3s ease-in-out; 
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;
  letter-spacing: .1em; 
  animation:  
    typing 4s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 3s ease-in-out;
}

.fade-out-text {
  opacity: 0; 
}

.fade-out-button {
  opacity: 0; 
}

button:hover {
  background-color: rgba(0, 0, 0, 0.9); 
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Original position */
  }
  50% {
    transform: translateY(-15px); /* Bounce up by 15px */
  }
}

.bounce-letter span {
  display: inline-block;
  animation: bounce 1.5s ease-in-out forwards;
  animation-iteration-count: 1000000; /* Only bounce 3 times */
  animation-delay: calc(4s + 0.1s * var(--i)); /* Start bouncing after typing finishes */
}

/* Ensure that spaces between words are preserved */
.bounce-letter .space {
  display: inline-block;
  width: 0.5em; /* Adjust the width of the space */
}
