.vertical-line-container {
  position: fixed; 
  top: 0;
  left: 10px; 
  width: 120px; 
  height: 100vh; 
  z-index: 1000;
  overflow: hidden; 
  background-color: rgba(0, 0, 0, 0.7); 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); 
}

.vertical-line-image {
  display: block;
  margin: 5px auto; 
  width: 100px; 
  height: 100px; 
  object-fit: cover; 
  border-radius: 8px; 
  border: 2px solid rgba(255, 255, 255, 0.2); 
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Optional media query for larger screens */
@media (min-width: 1200px) {
  .vertical-line-container {
    left: 40px; /* Increase offset for larger screens */
    width: 150px; /* Adjust width for larger screens */
  }
  .vertical-line-image {
    width: 120px; /* Larger images for bigger screens */
    height: 120px; /* Keep aspect ratio consistent */
  }
}
