.sound-bar {
  justify-content: flex-end;
  top: 10px;
  right: 10px;
  z-index: 1000; /* Ensures the button is always on top */
  margin: 1em;
}

.sound-toggle {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
